@import 'colors.scss';

body {
  font-family: Verdana, Helvetica;
}

.logoBlock {
  text-align:  center;
  border-bottom : 1px solid $text-selected;
  h1 {
    color : $text-selected;
    span {
      color : black;
    }
  }
}

.projectId {
  text-align: right;
  color : grey;
  margin : 10px 0px 0px 0px;
}

#leftPane {
  background-color: $background-menu;
  height : 100%;
  position : relative;

  #logoBlock {
    text-align:  center;
    border-bottom : 1px solid $text-selected;
    h1 {
      color : $text-selected;
      span {
        color : black;
      }
    }
  }

  #user-box {
    padding : 10px;
    text-align : center;
    img {
      width : 30%;
      display : block;
      margin : auto;
      border-radius : 100%;
    }
    button {
      margin : auto;
    }
  }

  #projectSelector {
    ul {
      border: 0;
      font-weight: normal;
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      text-decoration: none;

      li {
        cursor: pointer;
        border : none;
        color: #2a323c;
        display: block;
        padding: 15px 25px;
        background-color: #fefefe;
        font-size: 15px;
        border-bottom: 1px solid grey;

        .deleteProject {
          display: none;
          float : right;
        }

        &:hover {
          .deleteProject {
            display: block;
          }
        }


        &.active {
          color : $text-selected;
          border-color:  $text-selected;
        }
      }
    }
  }

  .project-adder {
    h4 {
      margin : 0px;
      margin-bottom: 5px;
      text-align: center;
    }
    position : absolute;
    bottom : 10px;
  }
}

header {
  width : 100%;
  height : 70px;
  color : $text-secondary;
  background-color:  $background-bar;

  #projectName {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: none;
    box-shadow: none;
    color: $text-white;
    font-size: 14px;
    height: 30px;
    padding : 6px 20px 6px 12px;
    margin-top: 14px;
    margin-left: 15px;
    border-radius: 30px;
    padding-left: 20px;
    width: 100%;

    &:focus{
      border: none;
    }
  }

  .button {
    float :right;
  }

}

.App{
  height : calc(100% - 70px);
}

.button {
  height: 36px;
  width: 36px;
  padding: 0 !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  line-height: 35px !important;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  color : $text-white;
  margin: 17px 5px;
  cursor : pointer;
  &:hover {
    color :$text-selected;
  }
}

.panel {
  width: calc(100% - 10px);
  height : calc(100% - 20px);
  background-color: white;
  margin: 10px 5px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

table {
  width : 100%;
  border-collapse: collapse;

  thead {
    th {
      padding : 8px;
      color : $text-tertiary;
      border-bottom : 2px solid $text-secondary;
      text-align: left;
    }
  }

  tbody {
    color : $text-quartiary;

  tr{
    td{
      padding : 8px;
      border-bottom : 1px solid $text-quartiary;
    }

    &:last-of-type{
      td {
        border-bottom: 0px;
      }
    }
  }


    input {
      border : 0px;
      width: auto;


        &:focus {
          outline: none;
        }
    }
  }
}

input.share{
  width : 10px;
}

body, html, #root, #main {

  margin : 0px;
  height : 100%;
  background-color: $background-fond;
}

#not-connected{
  text-align: center;
}
