$background-fond : #F5F5F5;
$background-bar : #2A323C;
$background-menu : #FFFFFF;

$text-selected : #E66060;
$text-primary : #2A323C;
$text-secondary : #8F8F8F;
$text-tertiary : #666666;
$text-quartiary : #797979;
$text-white : #FFFFFF;
$text-green : #5CB45B;
$text-blue : #3292E0;
